SMS_EMBEDDING_ENDPOINT=
SMS_EMBEDDING_TOKEN=
SMS_EMBEDDING_MODEL=
SMS_EMBEDDING_DIMENSIONS=
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
SMS_NACOS_SERVER_ADDR=
SMS_AI_APPLICATION_NAME=
SMS_AI_DATASOURCE_URL=
SMS_AI_DATASOURCE_USERNAME=
SMS_AI_DATASOURCE_PASSWORD=
SMS_AI_DATASOURCE_DRIVER_CLASS_NAME=
SMS_AI_DUBBO_APPLICATION_NAME=
SMS_AI_SERVER_PORT=
SMS_AI_WORKFLOW_CORE_POOL_SIZE=
SMS_AI_WORKFLOW_MAX_POOL_SIZE=
SMS_AI_WORKFLOW_QUEUE_CAPACITY=
SMS_AI_WORKFLOW_MAX_ATTEMPTS=
SMS_AI_WORKFLOW_STEP_TIMEOUT_MS=
SMS_AI_WORKFLOW_BUSINESS_RESULT_TTL_MINUTES=
SMS_AI_TASK_RECOVERY_DELAY_MS=
SMS_AI_SSE_EMITTER_TIMEOUT_MILLIS=
SMS_AI_CHAT_MEMORY_MAX_MESSAGES=
SMS_AI_KNOWLEDGE_INGESTION_DEFAULT_LIMIT=
SMS_AI_KNOWLEDGE_INGESTION_MAX_LIMIT=
SMS_AI_KNOWLEDGE_INGESTION_DEFAULT_INDEX_REVISION=
SMS_KNOWLEDGE_APPLICATION_NAME=
SMS_KNOWLEDGE_DATASOURCE_URL=
SMS_KNOWLEDGE_DATASOURCE_USERNAME=
SMS_KNOWLEDGE_DATASOURCE_PASSWORD=
SMS_KNOWLEDGE_DATASOURCE_DRIVER_CLASS_NAME=
SMS_KNOWLEDGE_VECTOR_STORE=
SMS_KNOWLEDGE_POSTGRES_URL=
SMS_KNOWLEDGE_POSTGRES_USERNAME=
SMS_KNOWLEDGE_POSTGRES_PASSWORD=
SMS_KNOWLEDGE_POSTGRES_TABLE=
SMS_MILVUS_ENDPOINT=
SMS_MILVUS_TOKEN=
SMS_MILVUS_COLLECTION=
SMS_KNOWLEDGE_SERVER_PORT=
SMS_KNOWLEDGE_DUBBO_APPLICATION_NAME=
SMS_KNOWLEDGE_DUBBO_PROTOCOL_PORT=
SMS_STUDENT_APPLICATION_NAME=
SMS_STUDENT_DATASOURCE_URL=
SMS_STUDENT_DATASOURCE_USERNAME=
SMS_STUDENT_DATASOURCE_PASSWORD=
SMS_STUDENT_DATASOURCE_DRIVER_CLASS_NAME=
SMS_STUDENT_SERVER_PORT=
SMS_STUDENT_DUBBO_APPLICATION_NAME=
SMS_STUDENT_DUBBO_PROTOCOL_PORT=
SMS_WEB_APPLICATION_NAME=
SMS_WEB_DATASOURCE_URL=
SMS_WEB_DATASOURCE_USERNAME=
SMS_WEB_DATASOURCE_PASSWORD=
SMS_WEB_DATASOURCE_DRIVER_CLASS_NAME=
SMS_WEB_SERVER_PORT=
SMS_WEB_JWT_SECRET=
SMS_WEB_JWT_ACCESS_TOKEN_TTL_SECONDS=
SMS_WEB_JWT_REFRESH_TOKEN_TTL_SECONDS=
VITE_VERSION=
VITE_PORT=
VITE_BASE_URL=
VITE_ACCESS_MODE=
VITE_WITH_CREDENTIALS=
VITE_OPEN_ROUTE_INFO=
VITE_LOCK_ENCRYPT_KEY=
VITE_API_URL=
VITE_API_PROXY_URL=
VITE_DROP_CONSOLE=
